.card {
    margin: 0.5rem;
}
.card-title {
    font-size: 14px;
}
.text {
    font-size: 0.8rem;
    font-stretch: extra-condensed !important;
}
.btn {
    border-radius: 0em !important;
    font-size: 0.8rem !important;
    font-weight: bold !important;

}
.container-fluid {
    display: flex !important;
    justify-content: center !important;
}