.cart-icon {
        margin-right: 15px;
        min-width: 30px;
        min-height: 35px;
        background-color: red;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    
        .item-count{
            position: absolute;
            font-size: 18px;
            font-weight: bold;
            color: white;
        }
    }