// Edited 11 May, 22
@import "../../../node_modules/bootstrap/scss/bootstrap";
.container {
  margin: 0px 200px 15px 200px;

  @media (max-width: 768px) {
    .img-thumbnail, .react-icons, .option {
      display: none;
    }
  }
  
    .row{
      justify-content: space-between;
      align-items: flex-end;

      .img-thumbnail {
        min-width: 50px;
        min-height: 50px;
      }

      .col-sm-4 {
        display: flex;
        justify-content: space-between;
        align-content: space-between;
        align-self: self-end; 
      }
    }
  
    .option {
        cursor: pointer;
        font-size: 14px;
        color: black;
        font-weight: bold;
        font-stretch: ultra-condensed;
        
    }
    .react-icons {
        font-size: 12px;
      }
}

