.bold {
    font-weight: bold;
}
.link-text {
    font-size: 14px;
}
.download-app {
    border-style: none !important; 
    cursor:  pointer !important;
}
.row{
    flex-wrap: nowrap !important;
    align-items: center !important;
}