@media (min-width: 300px) {
  .homepage {
    min-width: 200px;
  }
}

@media (max-width: 700px) {
  .product-panel {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;
  }
}

.product-panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}